section#for
	.container
		+gt('general-title-center','Этот мастер-класс для Вас!')
	.for-if
		.container
			img(src=path+"img/icons/dashes.png", alt="Изображение 1 блока").general-img.general-img-for-if-1
			.row
				.col-md-6
					h4.general-subtitle Если Вы:
					ol.general-list.general-ol-list
						each item in ['Не знаете, как сказать "нет" и избавиться от чужого влияния','Устали от одиночества и непонимания других людей','Не понимаете, что делать и за что «хвататься», чтобы «выжить»','Замучились с неприятностями, которые не дают спокойно жить','Страдаете от уныния и хронической усталости','Не знаете, как помочь себе и своим близким','Не можете найти интересный для Вас источник дохода']
							li
								span=item
				.col-md-6
					.general-img-padded.general-img-padded-for-if
						img(src=path+"img/images/reading.png", alt="Читающая девушка")
	.for-wish
		.container
			img.general-img.general-img-for-wish-1(src=path+"img/icons/waves.png", alt="Волны")
			img.general-img.general-img-for-wish-2(src=path+"img/icons/loop.png", alt="Закорючка")
			h4.general-subtitle Хотите:
			ol.general-list.general-ol-list
				each item in ['Уметь распознавать ложь и отражать любые манипуляции','Найти верных друзей или идеальную “вторую половинку”','Поверить в себя и обрести денежное мышление','Поймать удачу за хвост и получать подарки от судьбы','Сохранить здоровье и радость на долгие годы','Помогать не только себе, но и другим людям','Начать зарабатывать на любимом деле']
					li
						span=item
			+b('button-for',href,'Мне это необходимо')