mixin mod(clm,h5,...items)
	.module-item(class=cl)
		h5.module-item-title=h5
		ul.general-list.general-ul-list
			each item in items
				li
					span=item
section#plan
	.container
		img.general-img.general-img-plan-1(src=path+"img/icons/4-corners.png", alt="Пирамидки")
		img.general-img.general-img-plan-2(src=path+"img/icons/daggers.png", alt="Крестики")
		img.general-img.general-img-plan-3(src=path+"img/icons/dots.png", alt="Точки")
		+gt('general-title-center','Программа курса')
		.module.module-1
			img(src=path+"img/icons/o.png", alt="Роспись").general-img.general-img-module-1-1
			h4.module-title.active НЛП - Часть 1 - “Душа Компании”
			.module-item-container.module-item-container-1
				+mod('','Занятие 1 “Введение в НЛП”','Фундаментальные идеи НЛП','Способы расширения мировоззрения','Набор позитивных установок и идей')
				+mod('','Занятие 2 “Экстрасенсорика”','Как моментально определять психотипы людей','Как видеть людей “насквозь” и читать их мысли','Способы лёгкого распознавания ложь и манипуляции')
				+mod('','Занятие 3 “Магия обольщения”','Как нравиться людям и вызывать интерес к себе','Мастерство общения и искусство очарования','Искусство понимать людей и доносить до них свои мысли')
				+mod('','Занятие 4 “Мастерство влияния”','Как вызывать доверие и уважение к себе','Искусство убеждения и технологии влияния','Противодействие любым манипуляциям')
			h4.module-title НЛП - Часть 2 - “Гипнотизёр”
			.module-item-container
				+mod('','Занятие 5 “Гениальность и совершенство”','Как входить в состояние мастерства и творчества','Секреты успеха от гениев и миллионеров','Инструменты для ускоренного саморазвития')
				+mod('','Занятие 6 “Исполнение желаний”','Как отличать истинные мечты от навязанных','Эффективные методы достижения целей','Психотехнологии исполнения желаний')
				+mod('','Занятие 7 “Чудо исцеления”','Как избавляться от страхов и комплексов','Секреты исцеления от психосоматических болезней','Методы противодействия приобретённой аллергии')
				+mod('','Занятие 8 “Трансформация”','Как избавиться от негативных установок','Снимаем “камень с души” (болезненные переживания)','Прощаемся с вредными привычками')
		.module.module-2
			img(src=path+"img/icons/signa-2.png", alt="Роспись 2").general-img.general-img-module-2-1
			img(src=path+"img/icons/waves.png", alt="3 волны").general-img.general-img-module-2-2
			h4.module-title.active ГИПНОЗ - Часть 1 - “Душа Компании”
			.module-item-container.module-item-container-1
				+mod('','Занятие 1 “Введение в гипноз”','Знакомство с фундаментальными идеями гипноза','Способы значительно расширить своё мировоззрение','Набор позитивных установок и идей')
				+mod('','Занятие 2 “Основы гипноза”','Как легко останавливать внутренний диалог','Выявление трансовых состояний у людей','Погружение в состояние глубокой релаксации')
				+mod('','Занятие 3 “Введение в транс”','Базовые навыки погружения в транс','Как незаметно гипнотизировать человека','Многообразие гипнотических техник')
				+mod('','Занятие 4 “Аффирмации и самогипноз”','Как внушать гипнотические установки и команды','Истории, меняющие сознание','Искусство наделять свои слова особой силой')
			h4.module-title Часть 2 - “Гипнотизёр”
			.module-item-container
				+mod('','Занятие 5 “Техники погружения в гипноз”','Как ввести другого человека  глубокий транс','Управление процессами, происходящими в организме','Раскрываем в себе необычные способности')
				+mod('','Занятие 6 “Гипнотические внушения”','Различные типы гипнотических внушений','Как влиять на сознание без погружения в транс','Учимся “программированию сознания” на любые цели')
				+mod('','Занятие 7 “Целительный гипноз”','Как незаметно “внедрять” людям установки','Искусство составления гипнотических “сказок” и историй','Установки на исцеление и долголетие')
				+mod('','Занятие 8 “Гипнотическая трансформация”','Технология аудио-визуального кодирования','Как запрограммировать себя на стройность и здоровье','Роль сна в самопрограммировании')
		.module.module-3
			img(src=path+"img/icons/dots.png", alt="Точки").general-img.general-img-module-3-1
			img(src=path+"img/icons/dashes.png", alt="Черточки").general-img.general-img-module-3-2
			img(src=path+"img/icons/4-corners.png", alt="Пирамидки").general-img.general-img-module-3-3
			h4.module-title.active КОУЧИНГ и КОНСУЛЬТИРОВАНИЕ
			.module-item-container.module-item-container-1
				+mod('','Занятие 1 “Работа со своими ограничениями”','Как избавиться от “синдрома самозванца”','Комплекс из-за страха взять деньги за свои услуги','Избавляемся от страха “облажаться” и неуверенности')
				+mod('','Занятие 2 “Успешный имидж”','Придумываем Вашу “цепляющую” жизненную историю','Как научиться выгодно отличаться от конкурентов','Умение грамотно заявить о себе в сети')
				+mod('','Занятие 3 “Востребованные услуги”','Корректировка Вашего главного направления','Определение Вашего формата работы','Составление Вашего уникального предложения')
				+mod('','Занятие 4 “Привлечение клиентов”','Знакомство с потенциальными клиентами','Как и чем привлечь внимание потенциальных клиентов','Несколько рекламных трюков')
				+mod('','Занятие 5 “Начало работы с клиентом”','Умение “заманивать” человека в работу','Как понять, что нужно клиенту','Вызываем желание заплатить Вам')
				+mod('','Занятие 6 “Схемы работы с клиентом”','Алгоритм проведения консультации','Схема профессионального коучинга','Как подбирать подходящие инструменты')
				+mod('','Занятие 7 “Легализация деятельности”','Что можно делать, а что нельзя','Как брать деньги без проблем и в рамках закона','Шаблон “грамотного” договора')
				+mod('','Занятие 8 “Бизнес на консультациях”','Как из консультанта превратиться в бизнесмена','Схемы масштабирования своей деятельности','Как привлекать клиентов и поставить работу “на автопилот”')